/* nav {
  display: flex;
  gap: 15px;
  padding: 12px;
  background: #2c3e75;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

nav button {
  margin-left: auto;
  color: white;
  background: #e74c3c;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
}

nav button:hover {
  background: #c0392b;
}

 */
